{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <h1>Acteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de l'acteur</th>
                <td>{{ actor.name }}</td>
            </tr>
            <tr>
                <th>Liste des séries</th>
                
            </tr>
        </tbody>
    </table>

    <h3>{% for program in actor.programs %}</h3>
                <p>{{ program.title }}</p>
        {% else %}
        <p>Pas de séries pour cet acteur</p>
        {% endfor %}



{% endblock %}
